
.items {
  height: 450px;
  overflow-y: scroll;
  cursor: grab;
}

.items::-webkit-scrollbar {
  width: 8px;
  background: #2F2F37;
  
}

.items::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #8585AD;
}

.item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.button_container {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-left: auto;
}

