.app {
  background-color: #131316;
  min-height: 100vh;
  color: #F2F2F3;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.ingridient {
  width: 638px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
